:root {
    --katran-white-color: #f8f6fc;
    --katran-yelow: #f1ac2b;
    --katran-red: #e41817;
    --katran-dark: #09131f;
    --katran-font-color: #09131f;
    --katran-font-sm-color: #676f79;
    --katran-shadow-color: rgba(0, 0, 0, .1);
}
body{
    color: var(--katran-font-color) !important;
}
.home-page-banner-item{
    position: relative;
}
.search{
    position: relative;
    width: 45px;
    height: 45px;
    border-radius: 50px;
    background: #f8f6fc;
    transition: .5s;
    box-shadow: 0 0 0 2.5px var(--katran-shadow-color);
    overflow: hidden;
    
}

.search.is-active{
    width: 360px;
}

.menu-accordion-item_inner{
    transition: .5s ease;
}
.menu-accordion-item.active .menu-accordion-item_inner{
    height:0;
    margin-top:0 !important;
    margin-bottom: 0 !important;
    overflow: hidden;
}

.smoo_after_title{
    font-size: 0.9em;
    color: var(--katran-font-sm-color);
}
.search .icon{
    position: absolute;
    top: 0;
    left: 0;
    width: 45px;
    height: 45px;
    background: var(--katran-white-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
}

.search .icon::before{
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border: 3px solid var(--katran-dark);
    border-radius: 50%;
    transform: translate(-4px,-4px);
}
.search .icon::after{
    content: '';
    position: absolute;
    width: 3px;
    height: 10px;
    background: var(--katran-dark);
    transform: translate(6px,6px) rotate(315deg);
}

.search .search-input{
    position: relative;
    width: 310px;   
    height: 45px;
    left: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search .search-input input{
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    border: none;
    outline: var(--katran-white-color);
    box-shadow: none;
    font-size: 18px;
}
.home-page-banner-wrapper{
    position: absolute;
    bottom: 2rem;
    width: calc(100% - 2rem);
    left: 1rem;
    z-index: 1;
}
.slider-item{margin-left: .375rem; margin-right: .375rem;}
.slick-arrow{
    cursor:pointer;
    border: none;
    border-radius: 100%;
    background: rgba(9, 19, 31, .1);
    font-size: 2rem;
    width: 2.5rem;
    height: 2.5rem;
    position: absolute;
    top:50%;
    z-index: 1;
    transition: .2s;
}
.slick-arrow:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    box-shadow: 0 0 7px 0 var(--katran-shadow-color);
    background: rgba(9, 19, 31, .15);
}
.slick-arrow .svg-inline--fa{
    vertical-align: -.1em !important;
}
.slick-next{
    right: 0;
}
.slick-prev{
    left:0;
}
.button{
    padding-left: calc(.75em - 1px) !important;
    padding-right: calc(.75em - 1px) !important;
}
/* .carousel-wrapper{overflow-x: hidden;} */
.carousel-item{
    min-height: 20rem;
    transition: .2s;
}
.carousel-item:hover{
    box-shadow: 0 0 7px 0 var(--katran-shadow-color);
    z-index:1;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.carousel-item--img-wrapper{
    position: relative;
}
.carousel-item--img-wrapper .carousel-item--more-btn{
    position: absolute;
    z-index:1;
    left:50%;
    bottom: 25%;
    transition: .2s;
    transform:scale(.9);
    transform: translateX(-50%);
    opacity: 0;
    font-size: 1.25rem;
    border: 1px solid #000;
    background: rgba(0255,255,255,0.3);
    color: #000;
}
.carousel-item--img-wrapper:hover .carousel-item--more-btn{
    transform:scale(1.05);
    opacity: 1;
    transform: translateX(-50%);
}
.product-table{
    font-size: .75em !important;
}
.katran-content{
    line-height: 2;
}
.navbar-link:not(.is-arrowless)::after {
    border-color: var(--katran-font-color);
    margin-top: -.375em;
    right: 1.125em;
  }
.hidden{display: none !important;}
.table-container {
width: 100% !important;
min-width: 100% !important;
}
.th-w-img{
    min-width: 60px;
}
.th-w-quantity{
    min-width:150px;
}
.th-w-title{
    min-width: 200px;
}
.fc-red{
    color: var(--katran-red);
}
hr{
    margin: 1rem 0 !important;
}
footer.footer.katran-footer{
    background-color: var(--katran-dark);
}
.fa-at,
.fa-phone-flip,
.fa-location-dot,
.fa-clock
{
    color: var(--katran-yelow) !important;
}
a.no-hl-link{color: var(--katran-font-color);}
a.no-hl-link:hover{color: var(--katran-dark);}
.katran--free_space{min-height: 2rem;height: 2rem;content: "";}
.frontpage--category_tiles p.title{text-shadow: 1px 1px 5px #f8f6fc;}
.product_table td{ vertical-align: middle;}
@media screen and (min-width: 350px) and (max-width:769px){
    body{
        overflow-x: hidden;
    }
    .katran-logo-img{
        max-width: 90%;
    }
    .menu-label{
        font-size: 1.5rem;
    }
    .carousel-item--img-wrapper .carousel-item--more-btn{
        opacity: 1;
    }
    .fav-prod-sidebar--item-title,
    .fav-prod-sidebar--item-price{
        left: 3rem !important;
    }
    .frontpage--category_tiles .tile.is-child{
        min-height: 10rem;
    }
    .frontpage--category_tiles .tile.is-parent{
        padding: .75rem .75rem 0 .75rem;
    
    }
    .frontpage--category_tiles .tile.is-ancestor {
        margin: 0;
    }
    .frontpage--category_tiles .tile.is-vertical.is-parent{
        padding: .75rem 0;
    }
  }
@media screen and (min-width:769px){
    .frontpage--category_tiles .tile.is-vertical.is-parent{
        padding-top: 0 !important;
        padding-bottom: 0 !important;
    }
    .production--product-block .column:first-child{
        margin: 0 .15em 0 0 !important;
    }
    .production--product-block .column:last-child{
        margin: 0 0 0 .15em !important;
    }
    .production--product-block .column{
        margin: auto .15em;
    }
  }
  @media screen and (min-width: 769px) and (max-width:800px){
    .frontpage--category_tiles p.title{
        font-size: 1.1rem !important;
    }
  }
  @media screen and (min-width: 800px) and (max-width:1220px){

    .frontpage--category_tiles p.title{
        font-size: 1.15rem !important;
    }
  }
  @media screen and (min-width: 1025px) and (max-width:1220px){
    .search.is-active{
        width: 200px;
    }
    .search .search-input{
        width: 150px;
    }
    .frontpage--category_tiles p.title{
        font-size: 1.25rem !important;
    }
  }
  @media screen and (min-width: 1220px) and (max-width:1408px){
    .search.is-active{
        width: 290px;
    }
    .search .search-input{
        width: 240px;
    }
    .frontpage--category_tiles p.title{
        font-size: 1.75rem !important;
    }
    .frontpage--category_tiles .tile.is-ancestor{
        min-height: 20em !important;
        height: 20em !important;
    }
  }
  @media screen and (min-width: 1408px) {
    .frontpage--category_tiles .tile.is-ancestor{
        min-height: 20em !important;
        height: 20em !important;
    }
  
  .tile.is-vertical > .tile.is-child:not(:last-child) {
    margin-bottom: 1rem !important;
  }
  }
  
.frontpage--category_tiles .grinder_tile{
    background-image: url("/static/images/categories/shlifovalnye.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .angle_tile{
    background-image: url("/static/images/categories/uglovye.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .cang_tile{
    background-image: url("/static/images/categories/czangovye.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .strate_tile{
    background-image: url("/static/images/categories/pryamye.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .trambov_tile{
    background-image: url("/static/images/categories/trambovki.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .hammer_tile{
    background-image: url("/static/images/categories/molotki.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .otboy_tile{
    background-image: url("/static/images/categories/otbojnye.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .rubil_tile{
    background-image: url("/static/images/categories/rubilnye.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .beton_tile{
    background-image: url("/static/images/categories/betonolomy.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .tools_tile{
    background-image: url("/static/images/categories/golovki.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .wrench_tile{
    background-image: url("/static/images/categories/gajkoverty.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .vint_tile{
    background-image: url("/static/images/categories/vintoverty.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .drill_tile{
    background-image: url("/static/images/categories/dreli.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .paint_tile{
    background-image: url("/static/images/categories/okrasochnoe.jpg");
    background-size: cover;    
}
.frontpage--category_tiles .zap_tile{
    background-image: url("/static/images/categories/zapchasti.jpg");
    background-size: cover;    
}


/* SIDEBAR */
.fav-prod-sidebar--title{background: none;padding: 10px 5px 10px 7.5px;font-weight: 600; border-bottom:2px solid var(--katran-red);}
.fav-prod-sidebar--title span{color:var(--katran-dark);font-size: 1rem;}
.fav-prod-sidebar--item{position: relative;}
.fav-prod-sidebar--item-title{position: absolute;color:#fff;background: var(--katran-dark);bottom:45px;left:0;padding:5px;font-size: 14px;}
.fav-prod-sidebar--item-price{position: absolute;color:#fff;background: var(--katran-red);bottom:0;left:0;padding:5px;font-size: 17px;}
.productionpage--info-wrap{position: absolute;bottom: 0;left:25%;transform: translateX(-25%);}
.productionpage--item-title{color:#fff;background: var(--katran-dark);padding:5px;font-size: 14px;}
.productionpage--item-price{color:#fff;background: var(--katran-red);padding:5px;font-size: 17px;width:fit-content !important;}


@media only screen and (min-width: 770px) and (max-width:1299px) {
    .fav-prod-sidebar--item-title {
      position: absolute;
      color: #fff;
      bottom: 45px;
      left: 0;
      padding: 2px 5px;
      font-size: 16px;
    }
    .fav-prod-sidebar--title span{font-size: 1.5rem !important;}
    .home-page--icon-text{margin:25px 0 25px 5px !important;font-size: 1.5rem;}
    .home-page--cat-banner-img{height:80%;}
  }
 
  .copy_info-btn{
    cursor: pointer;
  }
  .copy_info-btn .fa-clipboard{
    color: var(--katran-yelow) !important;
  }
  .search-btn{
    justify-content: end;
    display: flex;
  }