{% extends 'base.html' %}
{% block title %}Каталог пневмоинструмента {{ brand.title }}{% endblock %}
{% block content %}
    <div class="columns">
        {% include "side-bar.html" %}
        <div class="column">
            <div class="columns is-desktop has-text-centered-touch has-text-left-desktop">
                <div class="column">
                    <h1 class="title is-3">{{ brand.title }}</h1>
                    <p class="subtitle is-5">{{ brand.description }}</p>
                </div>
                <div class="column">
                    <img src="{{ brand.thumbnail.url }}" alt="Пневмоинструмент фирмы {{ brand.title }}" title="Пневмоинструмент фирмы {{ brand.title }}">
                </div>
            </div>
            <hr>
            <div class="table-container">
            <table class="product_table table is-striped is-hoverable is-fullwidth" style="vertical-align: middle;">
                <thead>
                  <tr>
                    <th></th>
                    <th>Наименование</th>
                    <th>Производитель</th>
                    <th>Цена</th>
                  </tr>
                </thead>
                <tbody>
                    {% for product in products %}
                        <tr>
                            <th class="th-w-img p-0"><a class="no-hl-link" href="{% url 'product_detail' product.category.slug product.slug %}"><img src="{{ product.thumbnail.url }}" alt="{{ product.title }}" title="{{ product.title }}"></a></th>
                            <td><a class="no-hl-link" href="{% url 'product_detail' product.category.slug product.slug %}"><p>{{product.title}}</p></a></td>
                            <td><a class="no-hl-link" href="{% url 'brand_detail' product.brand.slug %}">{{ product.brand }}</a></td>
                            <td>{{ product.price|floatformat:2 }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
              </table>
            </div>
            
            
        </div>
    </div>
{% endblock %}