{% extends 'base.html' %}
{% block title %}Каталог пневмоинструмента {{ brand.title }}{% endblock %}
{% block content %}
    <div class="columns">
        {% include "side-bar.html" %}
        <div class="column" id="productapp">
            <div class="columns is-desktop has-text-centered-touch has-text-left-desktop">
                <div class="column">
                    <h1 class="title is-3">{{ brand.title }}</h1>
                    <p class="subtitle is-5">{{ brand.description }}</p>
                </div>
                <div class="column">
                    <img src="{{ brand.thumbnail.url }}" alt="Пневмоинструмент фирмы {{ brand.title }}" title="Пневмоинструмент фирмы {{ brand.title }}">
                </div>
            </div>
            <hr>
            <div class="columns is-flex-wrap-wrap">
                {% for product in products %}
                  <div class="column is-one-quarter is-align-content-center is-justify-content-center">
                    <a class="no-hl-link" href="{% url 'product_detail' product.category.slug product.slug %}">
                      <img src="{{ product.image.url }}"
                          alt="{{ product.title }}"
                          title="{{ product.title }}">
                      <h4 class="is-8">
                        {{ product.title }}
                      </h4>
                      <p class="is-8 fc-red">
                        {% if product.price != 0 %}
                          {{ product.price|floatformat:2 }} с НДС
                        {% else %}
                          По запросу
                        {% endif %}
                      </p>
                    </a>
                    <button class="button is-black is-small" @click="addToCart({{ product.id }})">В корзину &nbsp;&nbsp;<i class="fa-solid fa-cart-shopping"></i></button>
                  </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
<script>
  var productapp = new Vue({
    el: '#productapp',
    delimiters: ['[[',']]'],
    store: store,
    data (){
        return {
            showAddToCartMessage: false
        }
    },
    mounted(){
        console.log('Mounted');
    },
    methods: {
        addToCart(product_id){
            console.log('Adding Product_id', product_id);
            var data = {
                'product_id': product_id,
                'update': false,
                'quantity': 1
            };
            fetch('/api/api_add_to_cart/',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                credentials: 'same-origin',
                body: JSON.stringify(data)
            })
            .then((response) => {
                console.log('Hello');
                this.showAddToCartMessage = true;
                store.commit('increment', 1);
                setTimeout(()=>{
                    this.showAddToCartMessage = false;
                }, 2000)
            })
            .catch(function(error){
                console.log(error);
            })
        }
    }
  });
</script>
{% endblock %}