{% extends 'base.html' %}
{% load store_extras %}
{% block title %}Каталог {{ category.title }}{% endblock %}
{% block content %}
    <div class="columns">
        {% include "side-bar.html" %}
        <div class="column has-text-centered-touch has-text-left-desktop is-three-quarters">
            <h1 class="title is-3">{{ category.title }}</h1>
            <hr>
            {% if products %}
            <div class="table-container is-fullwidth product-table">
                <table class="product_table table is-striped is-hoverable is-fullwidth" style="vertical-align: middle;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Наименование</th>
                            <th>Производитель</th>
                            <th>Цена</th>
                            {% comment %} {% for var in var_titles %}
                                <th>
                                    {{var}}
                                    <br>
                                    {% if var.varitem.dimention %}
                                        {{ var.varitem.dimention}}
                                    {% endif %}
                                </th>
                            {% endfor %} {% endcomment %}

                            {% for var in all_cat_vars %}
                            <th>
                                {{var}}
                                <br>
                                {% if var.dimention %}
                                    {{ var.dimention}}
                                {% endif %}
                            </th>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td class="th-w-img p-0">
                                    <a class="no-hl-link" href="{% url 'product_detail' product.category.slug product.slug %}">
                                        <img src="{{ product.thumbnail.url }}"
                                        alt="{{ product.title }}"
                                        title="{{ product.title }}">
                                    </a>
                                </td>
                                <td>
                                    <a class="no-hl-link" href="{% url 'product_detail' product.category.slug product.slug %}">
                                        <p>{{product.title}}</p>
                                    </a>
                                </td>
                                <td><a class="no-hl-link" href="{% url 'brand_detail' product.brand.slug %}">{{ product.brand }}</a></td>
                                <td>
                                    {% if product.price != 0 %}
                                        {{ product.price|floatformat:2 }}
                                    {% else %}
                                        По запросу
                                    {% endif %}
                                </td>
                                {% for var in all_cat_vars %}
                                    {% if product.variable_set|variable_by_var:var %}
                                        {% with product.variable_set|variable_by_var:var as variable %}
                                            <td>{{variable.value}}</td>
                                        {% endwith %}
                                    {% else %}
                                        <td>-</td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
                <h2 class="subtitle is-5">Нет товаров в этой категории</h2>
            {% endif%}
            
        </div>
    </div>
{% endblock %}