{% extends 'base.html' %}
{% block title %}{{ product.title }} купить по выгодной цене{% endblock %}
{% block content %}
    <div class="columns">
        {% include "side-bar.html" %}
        <div class="column has-text-centered">
            <div id="productapp">
                <h1>{{ product.title }}</h1>
                <h2>{{ product.price }}</h2>
                <button @click="addToCart({{ product.id }})">В корзину</button>
            </div>
        </div>
    </div>



{% endblock %}

{% block scripts %}
<script>
 
</script>
{% endblock %}