{% extends 'base.html' %}
{% block title %}{{ product.title }} купить по выгодной цене{% endblock %}
{% block content %}
    <div class="columns">
        {% include "side-bar.html" %}
        <div class="column has-text-centered-touch">
            <div id="productapp">
                
                <div class="columns is-desktop">
                    <div class="column is-half">
                        <img src="{{ product.image.url }}" alt="{{ product.title }}" title="{{ product.title }}">
                    </div>
                    <div class="column">
                        <div class="has-text-centered">
                            <h1 class="title is-3">{{ product.title }}</h1>
                            <p class="subtitle is-5">Купить со склада в Санкт-Петербурге </p>
                            <p class="title is-5">по цене с НДС: <span class="fc-red">{{ product.price|floatformat:2 }}</span></p>
                            <button class="button is-black is-normal" @click="addToCart({{ product.id }})">В корзину &nbsp;&nbsp;<i class="fa-solid fa-cart-shopping"></i></button>
                            <article class="media has-text-left mt-3">
                                <figure class="media-left">
                                  <p class="image is-64x64">
                                    <a class="no-hl-link" href="{% url 'brand_detail' product.brand.slug %}">
                                        <img src="{{ product.brand.thumbnail.url }}"
                                            alt="Пневмоинструмент фирмы {{ product.brand }}"
                                            title="Пневмоинструмент фирмы {{ product.brand }}">
                                    </a>
                                  </p>
                                </figure>
                                <div class="media-content">
                                  <div class="content">
                                    <p>
                                      Производитель: <strong><a class="no-hl-link" href="{% url 'brand_detail' product.brand.slug %}">{{ product.brand }}</a></strong>
                                      <br>
                                      {{ product.brand.description }}
                                    </p>
                                  </div>
                              </article>
                            
                            <p class="title is-5 fc-red mt-3 mb-3">Краткое описание</p>
                        </div>
                        <p class="content">
                            {{ product.description }}
                        </p>
                        {% if variables %}
                        <div class="has-text-centered">
                            <p class="title is-5 fc-red mt-6 mb-3">Технические характеристики</p>
                        </div>
                        <table class="table is-striped is-hoverable is-fullwidth" >
                            <tbody>
                                {% for var in variables %}
                                    <tr>
                                        <td>{{ var.varitem.title }}</td>
                                        <td>{{ var.value }}&nbsp;&nbsp;{{var.varitem.dimention}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% endif %}
                    </div>
                </div>              
            </div>
        </div>
    </div>



{% endblock %}

{% block scripts %}
<script>
  var productapp = new Vue({
    el: '#productapp',
    delimiters: ['[[',']]'],
    store: store,
    data (){
        return {

        }
    },
    mounted(){
        console.log('Mounted');
    },
    methods: {
        addToCart(product_id){
            console.log('Adding Product_id', product_id);
            var data = {
                'product_id': product_id,
                'update': false,
                'quantity': 1
            };
            fetch('/api/api_add_to_cart/',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                credentials: 'same-origin',
                body: JSON.stringify(data)
            })
            .then((response) => {
                console.log('Hello');
                store.commit('increment', 1);
            })
            .catch(function(error){
                console.log(error);
            })
        }
    }
  });
</script>
{% endblock %}