{% extends 'base.html' %}
{% block title %}Результаты поиска: {{ query }} {% endblock %}
{% block content %}
    <div class="columns">
        {% include "side-bar.html" %}
        <div class="column has-text-centered-touch has-text-left-desktop is-three-quarters">
            <h1 class="title is-3">Результаты поиска</h1>
            <p class="subtitle">по запросу {{ query }}</p>
            <hr>
            <div class="table-container is-fullwidth product-table">
                <table class="product_table table is-striped is-hoverable is-fullwidth" style="vertical-align: middle;">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Наименование</th>
                            <th>Производитель</th>
                            <th>Цена</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td class="th-w-img p-0">
                                    <a class="no-hl-link" href="{% url 'product_detail' product.category.main_category.slug product.category.slug product.slug %}">
                                        <img src="{{ product.thumbnail.url }}"
                                        alt="{{ product.title }}"
                                        title="{{ product.title }}">
                                    </a>
                                </td>
                                <td>
                                    <a class="no-hl-link" href="{% url 'product_detail' product.category.main_category.slug product.category.slug product.slug %}">
                                        <p>{{product.title}}</p>
                                    </a>
                                </td>
                                <td>
                                    {% if product.brand %}
                                        <a class="no-hl-link" href="{% url 'brand_detail' product.brand.slug %}">{{ product.brand }}</a></td>
                                    {% else %}
                                        <p>-</p>
                                    {% endif %}
                                    
                                <td>
                                    {% if product.price != 0 %}
                                        {{ product.price|floatformat:2 }}
                                    {% else %}
                                        По запросу
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
{% endblock %}