{% extends 'base.html' %}
{% load static %}
{% block title %}Продукция ООО "Катран-Пневмо" {% endblock %}
{% block description %}{% endblock %}
{% block keywords %}
    {{ keywords }}
{% endblock %}
{% block content %}
<div class="columns" id="productionsapp">
  {% include "side-bar.html" %}
  <div class="column has-text-centered-touch">
    <div class="title-wrapper has-text-centered">
      <p class="subtitle is-6">ООО "Катран-Пневмо"</p>
      <h2 class="title is-3">О НАС</h2>
      <!-- <p class="subtitle is-6">Пневматические шлифовальные машины производства ООО «Катран-Пневмо» </p> -->
    </div>
  
    <div class="columns mt-3">
      <div class="column is-full content">
        <p>Акционерное общество «Катран-Пневмо» основано в 1990 году для оснащения судостроительной промышленности качественным ручным пневмоинструментом. 22 декабря 2014 года произошла реорганизация компании в форме ее преобразования в ООО «Катран-Пневмо».</p>
        <p>За более чем 20 лет работы нашими специалистами разработаны и запущены в производство более трех десятков единиц продукции: от пневматических станков для шлифовки клапанов арматуры трубопроводов и фаскоснимателей для труб диаметром 600-800 мм до пневмомашин для обработки гребных винтов и пресс-форм. Заказчиками разработок выступали атомные электростанции, предприятия судостроительной и автомобильной промышленности.</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}