<!DOCTYPE html>
{% load static %}
{% load core_extras %}
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Интернет-магазин пневматического инструмента{% endblock %} | Катран-Пневмо | Пневматический инструмент в СПБ</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  
  <link href="{% static 'css/main.css' %}" rel="stylesheet">
  
  <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon">
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/summernote@0.9.1/dist/summernote.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/summernote@0.9.1/dist/summernote.min.css" rel="stylesheet">
  <meta name="description" content="{% block description %}Пневмоинструмент{% endblock %} широкий выбор: характеристики, фото, видео, отзывы, в интернет-магазине katran-pnevmo.ru | 🚛 Доставка в Санкт-Петербурге и по России" />
  <link rel="canonical" href="{% block canonicalurl %}https://katran-pnevmo.ru{% endblock %}" />
  <meta property="og:site_name" content="Интернет-магазин пневматического инструмента katran-pnevmo.ru" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{% block ogurl %}https://katran-pnevmo.ru{% endblock %}" />
  <meta property="og:title" content="{% block ogtitle %}Интернет-магазин пневматического инструмента{% endblock %} | Катран-Пневмо | Пневматический инструмент в СПБ" />
  <meta property="og:image" content="{% block ogimage %}{% endblock %}" />
  <meta property="og:country_name" content="Россия" />
  <meta property="og:email" content="office@katran-pnevmo.ru" />
  <meta iterprop="keywords" name="keywords" content="{% block keywords %}{% endblock %}"/>

</head>
<body>
  <div id="main_container" >
    {% block messages %}{% endblock %}
    <div class="header_wrapper" id="navbarapp">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a @click="toggleMenu()" role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample"  class="navbar-menu" :class="{ 'is-active': menuClass }">
          <div class="navbar-start">
            <a class="navbar-item" href="{% url 'frontpage' %}">
              Главная
            </a>
      
            <a class="navbar-item" href="{% url 'production' %}">
              Продукция
            </a>
      
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="{% url 'catalog' %}">
                Каталог
              </a>
      
              <div class="navbar-dropdown">
                {% for c in menu_categories|dictsort:"id" %}
                    <a class="navbar-item" href="{% url 'category_detail' c.main_category.slug c.slug %}">
                        {{ c.title }}
                    </a>
                {% endfor %}
              </div>
            </div>
            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link" href="{% url 'catalog' %}">
                Производители
              </a>
      
              <div class="navbar-dropdown">
                {% for b in menu_brands %}
                    <a class="navbar-item" href="{% url 'brand_detail' b.slug %}">
                      <article class="media has-text-left">
                        <figure class="media-left">
                          <p class="image is-24x24">
                            <!-- <a class="no-hl-link" href="{% url 'brand_detail' b.slug %}"> -->
                                <img src="{{ b.thumbnail.url }}"
                                    alt="Пневмоинструмент фирмы {{ b }}"
                                    title="Пневмоинструмент фирмы {{ b }}">
                            <!-- </a> -->
                          </p>
                        </figure>
                        <div class="media-content">
                          <div class="content">
                            <p>
                              {{ b }}
                              <!-- <a class="no-hl-link" href="{% url 'brand_detail' b.slug %}">{{ b }}</a> -->
                            </p>
                          </div>
                      </article>
                    </a>
                {% endfor %}
              </div>
            </div>

            <a href="{% url 'blog' %}" class="navbar-item">
              Статьи
            </a>

            <a href="{% url 'about' %}" class="navbar-item">
              О Нас
            </a>

            <a class="navbar-item">
              Контакты
            </a>
          </div>
      
          <div class="navbar-end">
            
            <div class="navbar-item">
              <div class="search-btn">
                <form  method="get" action="{% url 'search' %}">
                  <div class="search" :class="{ 'is-active': searchClass }">
                    <div class="icon" @click="toggleSearch()"></div>
                    <div class="search-input">
                      <input id="katran-search" type="text" class="input" placeholder="Поиск..." name="query">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary" href="{% url 'cart' %}">
                  <strong><i class="fa-solid fa-cart-shopping"></i>([[ numItems ]])</strong>
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <hr>
      <div class="columns">
        <div class="column is-one-quarter is-centered pr-6 pl-6">
          <a href="{% url 'frontpage' %}" class="no-hl-link">
            <img class="katran-logo-img" 
                 src="{% static 'images/logo-d.png' %}" 
                 alt="Катран-Пневмо | Интернет-магазин пневматического инструмента | Купить Пневматический инструмент в СПБ" 
                 title="Катран-Пневмо | Интернет-магазин пневматического инструмента | Купить Пневматический инструмент в СПБ">
          </a>
        </div>
        <div class="column is-tree-quarters">
          <div class="columns">
            <div class="column is-1"></div>
            <div class="column is-8">
              <div class="columns">
                <div class="column has-text-right-desktop has-text-centered mt-12 is-half">
                  <p class="heading has-text-weight-bold title is-4">ЗВОНИТЕ НАМ</p>
                  <p class="subtitle has-text-weight-bold is-4"><i class="fa fa-clock" style="margin-right: .5rem"></i>ПН-ПТ 9:30 - 17:30</p>
                  <p class="subtitle is-4 mb-1"><a class="no-hl-link" href="tel:+78123317907"><i class="fa-solid fa-phone-flip"></i>&nbsp;&nbsp;+7 (812) 331 79 09</a></p>
                  <p class="subtitle is-4"><a class="no-hl-link" href="tel:+78127142030"><i class="fa-solid fa-phone-flip"></i>&nbsp;&nbsp;+7 (812) 714 20 30</a></p>
                </div>
                <div class="column has-text-left-desktop has-text-centered mt-12 is-half">
                  <p class="heading has-text-weight-bold title is-4">НАШ АДРЕС</p>
                  <p class="subtitle is-5"><i class="fa fa-map-marker" style="margin-right: 1rem"></i>г. Санкт-Петербург, Английский пр., д. 33</p>
                  <p class="subtitle is-5"><a class="no-hl-link" href="mailto:OFFICE@KATRAN-PNEVMO.RU"><i class="fa-solid fa-at"></i>&nbsp;&nbsp;OFFICE@KATRAN-PNEVMO.RU</a></p>
                </div>
              </div>
            </div>
            <div class="column is-3"></div>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="section">
      
      {% block content %}{% endblock %}
    </div>
  </div>
  <footer class="footer mt-6">
    <div class="container">
      <div class="columns">
        <div class="column">
          <div class="mb-5">
            <img class="katran-logo-img" src="{% static 'images/katran-logo.jpg' %}" alt="Интернет-магазин пневматического инструмента | Катран-Пневмо | Пневматический инструмент">
          </div>
          <div class="content">
            <p>ООО "Катран-Пневмо"</p>
            <p>Продажа пневматического инструмента</p>
            <p>Информация на сайте не является публичной офертой</p>
          </div>
        </div>
        <div class="column is-multiline">
          <div>
            <h3 class="title is-3">Контакты</h3>
            <p class="heading">ЗВОНИТЕ НАМ ПН-ПТ 9:30 - 17:30</p>
            <p class="title is-5"><i class="fa-solid fa-phone-flip"></i>&nbsp;&nbsp;+7 (812) 331 79 09</p>
            <p class="title is-5"><i class="fa-solid fa-phone-flip"></i>&nbsp;&nbsp;+7 (812) 714 20 30</p>
            <p class="title is-6"><i class="fa-solid fa-at"></i>&nbsp;&nbsp;OFFICE@KATRAN-PNEVMO.RU</p>
          </div>
        </div>
        <div class="column">
          <div>
            <h3 class="title is-3">Наш адрес</h3>
            <p><i class="fa-solid fa-location-dot"></i>&nbsp;&nbsp;г. Санкт-Петербург, пр. Римского-Корсакова, д. 73/33, лит. А, пом. 5Н, оф. 101</p>
            <p><i class="fa-solid fa-clock"></i>&nbsp;&nbsp;График работы: ПН-ПТ 9:30 - 17:30</p>
          </div>
        </div>
        <div class="column">
          <div>
            <h3 class="title is-3">Информация</h3>
            <aside class="menu">
              <ul class="menu-list">
                  <li>
                    <a href="#">Реквизиты</a>
                  </li>
                  <li>
                    <a href="#">О Нас</a>
                  </li>
                  <li>
                    <a href="#">Контакты</a>
                  </li>
                  <li>
                    <a href="#">Статьи</a>
                  </li>
              </ul>
            </aside>       
          </div>
        </div>
      </div>
    </div>
  </footer>
  <footer class="footer katran-footer">
    
  </footer>
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  
  <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src='https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.18/summernote-bs4.min.js'></script>  
  <script src="https://unpkg.com/vuex@3.5.1/dist/vuex.js"></script>
  <script>
    var store = new Vuex.Store({
      state: {
        numItems:{{ cart.get_total_length }},
        totalCost:{{ cart.get_total_cost }}
      },
      mutations: {
        increment(state, quantity){
          state.numItems += quantity;
        },
        changeTotalCost(state, newCost) {
						state.totalCost += newCost;
					}
				}
      
    });
    var navbarapp = new Vue({
      el: '#navbarapp',
      delimiters: ['[[',']]'],
      store: store,
      data () {
        return {
          menuClass: false,
          searchClass: false,
        }
      },
      computed:{
        numItems: function(){
          return parseInt(store.state.numItems)
        },
        totalCost: function(){
          return parseFloat(store.state.totalCost)
        }
      },
      methods: {
        toggleMenu() {
          this.menuClass = !this.menuClass;
        },
        toggleSearch() {
          this.searchClass = !this.searchClass;
        }
      }
    });
    var sidebarapp = new Vue({
      el: '#sidebarapp',
      delimiters: ['[[',']]'],
      store: store,
      data () {
        return {
          accClass: true,
        }
      },
      computed:{

      },
      methods: {
        toggleAccMenu(e) {
          if (this.accClass){
            e.target.parentElement.classList.remove("active");  
          } else{
            e.target.parentElement.classList.add("active");
          }
          this.accClass = !this.accClass;
        },
      }
    });
    //function raiseMenu() {
    // Accordion Action
    /*
    const accordionItem = document.querySelectorAll(".menu-accordion-item");
      console.log(accordionItem);
      accordionItem.forEach((el) =>
      el.addEventListener("click", () => {
        if (el.classList.contains("active")) {
          console.log("remove active");
          el.classList.remove("active");
        } else {
          console.log("add active");
          el.classList.add("active");
        }
      })
    );
    //}*/
  </script> 
    {% block scripts %}{% endblock %}
</body>
</html>