{% extends 'base.html' %}
{% load static %}
{% block title %}Оптовая продажа пневматического инструмента по всей России. Офис и склад в Санкт-Петербурге. Предлагаем купить инструменты юридическим лицам по самым доступным ценам в Санкт-Петербурге.{% endblock %}
{% block ogtitle %}Оптовая продажа пневматического инструмента по всей России. Офис и склад в Санкт-Петербурге. Предлагаем купить инструменты юридическим лицам по самым доступным ценам в Санкт-Петербурге.{% endblock %}
{% block description %}{% endblock %}
{% block keywords %}
    {{ keywords }}
{% endblock %}
{% block canonicalurl %}{% endblock %}
{% block ogurl %}{% endblock %}
{% block ogimage %}{% endblock %}
{% block content %}

<div class="columns" id="frontpageapp">
    
    <div class="column has-text-centered is-full">
      <h1 class="title is-3">Российский производитель пневмоинструмента</h1>
      <p class="subtitle is-5">Катран-Пневмо</p>
      <div class="content">
        <p class="has-text-justified">
          Катран-Пневмо — компания, основанная в 1990 году для оснащения судостроительной 
          промышленности качественным пневмоинструментом, специализируется на продажах инструментов 
          и машиностроительного оборудования по системе В2В. Мы предлагаем купить оптом промышленный 
          пневматический инструмент с доставкой по России И СНГ.
        </p>
        <p class="has-text-justified">
          Благодаря нашему интернет-магазину katran-pnevmo.ru, мы смогли предоставить покупателям 
          по всей России самый большой ассортимент оригинального и высококачественного пневмоинструмента, 
          который произведен нами и именитыми профильными предприятиями. 
        </p>
      </div>
      <div class="content">
        <p class="has-text-left subtitle is-4">
          <span class="fc-red">Популярные</span> категории
        </p>
        <div class="category-top mb-6 columns is-multiline">
          {% for fc in featurescategories %}
            <a href="{% url 'category_detail' fc.slug %}">
              <div class="category-block">
                <p>
                  {{fc.title}}
                </p>
              </div>
            </a>
          {% endfor %}
        </div>
      </div>
      <div class="content">
        <p class="title is-5 mt-6 mb-4">Подробнее о продукции выпускаемой Катран-Пневмо Вы можете узнать по ссылке ниже.</p>  
        <a href="{% url 'production' %}" class="button is-large p-5"><i class="fa-solid fa-list"></i>&nbsp;&nbsp;УЗНАТЬ ПОДРОБНОСТИ</a>
      </div>
      <h2 class="title is-3 mt-6">Продукция Катран-Пневмо</h2>
      <p class="subtitle is-5">Пневматический инструмент российского производства</p>  
      <div class="carousel-wrapper">
        <div class="owl-carousel owl-theme">
          {% for p in katran_products %}
            <div class="m-2">
              <div class="carousel-item--img-wrapper">
                <img src="{{p.image.url}}" alt="{{ p.title }} | {{ p.category }} | купить со склада в СПБ">
                <a href="{% url 'product_detail' p.category.slug p.slug %}" class="button is-black is-small carousel-item--more-btn">Подробнее &nbsp;&nbsp;<i class="fa-solid fa-info"></i></a>
              </div>
              <p class="subtitle is-6"><a href="{% url 'category_detail' p.category.slug %}" class="no-hl-link">{{ p.category }}</a></p>
              <h2 class="title is-6"><a href="{% url 'product_detail' p.category.slug p.slug %}" class="no-hl-link">{{p}}</a></h2>
              <p class="subtitle is-6"><a class="no-hl-link" href="{% url 'brand_detail' p.brand.slug %}">{{ p.brand }}</a></p>
              <p class="title is-4">
                {% if p.price != 0 %}
                  <span class="fc-red">
                    {{ p.price|floatformat:2 }}&nbsp;<i class="fa-solid fa-ruble-sign"></i>
                  </span>
              </p>
              <p class="subtitle is-6">с НДС</p>
                {% else %}
                  <span class="fc-red">
                    По запросу
                  </span>
              </p>
                {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
      <div class="columns mt-6 mb-6">
      </div>
      <div class="columns mt-6 mb-6">
        <div class="column is-one-third-desktop p-2">
          <div class="home-page-banner-item">
            <img src="{% static 'images/frontpage/home-page-banner-delivery.jpg' %}" alt="">
            <div class="home-page-banner-wrapper">
              <h3 class="title is-6">БЫСТРАЯ ДОСТАВКА ДО ТК</h3>
              <p class="subtitle is-6">Отправка по всей России и СНГ! Бесплатная доставка до терминала транспортной компании</p>
            </div>
          </div>
        </div>
        <div class="column is-one-third-desktop p-2">
          <div class="home-page-banner-item">
            <img src="{% static 'images/frontpage/home-page-banner-cogwheel.jpg' %}" alt="">
            <div class="home-page-banner-wrapper">
              <h3 class="title is-6">ПРЕДПРОДАЖНАЯ ПОДГОТОВКА</h3>
              <p class="subtitle is-6">Весь инструмент проверен нашими специалистами и готов к работе "из коробки"</p>
            </div>
          </div>
        </div>
        <div class="column is-one-third-desktop p-2">
          <div class="home-page-banner-item">
            <img src="{% static 'images/frontpage/home-page-banner-shield.jpg' %}" alt="">
            <div class="home-page-banner-wrapper">
              <h3 class="title is-6">ГАРАНТИЙНОЕ ОБСЛУЖИВАНИЕ</h3>
              <p class="subtitle is-6">Многолетний опыт наших специалистов, позволяет проводить ремонт любой сложности.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-full has-text-centered">
      <h2 class="title is-3">Продукция Катран-Пневмо</h2>
      <p class="subtitle is-5">Пневматический инструмент российского производства</p>
      <div class="carousel-wrapper">
        <div class="carousel owl-carousel owl-theme" id="cang-carousel">
          {% for p in cangairgrinders %}
            <div class="item-{{ forloop.counter }} m-2 carousel-item">
              <div class="carousel-item--img-wrapper">
                <img src="{{p.image.url}}" alt="{{ p.title }} | {{ p.category }} | купить со склада в СПБ">
                <a href="{% url 'product_detail' p.category.slug p.slug %}" class="button is-black is-small carousel-item--more-btn">Подробнее &nbsp;&nbsp;<i class="fa-solid fa-info"></i></a>
              </div>
              <p class="subtitle is-6"><a href="{% url 'category_detail' p.category.slug %}" class="no-hl-link">{{ p.category }}</a></p>
              <h2 class="title is-6"><a href="{% url 'product_detail' p.category.slug p.slug %}" class="no-hl-link">{{p}}</a></h2>
              <p class="subtitle is-6"><a class="no-hl-link" href="{% url 'brand_detail' p.brand.slug %}">{{ p.brand }}</a></p>
              <p class="title is-4">
                {% if p.price != 0 %}
                  <span class="fc-red">
                    {{ p.price|floatformat:2 }}&nbsp;<i class="fa-solid fa-ruble-sign"></i>
                  </span>
              </p>
              <p class="subtitle is-6">с НДС</p>
                {% else %}
                  <span class="fc-red">
                    По запросу
                  </span>
              </p>
                {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="columns">
    <div class="column is-full has-text-centered">
      <h2 class="title is-3 mt-6 mb-6">Продукция Катран-Пневмо</h2>
      <p class="subtitle is-5">Пневматический инструмент российского производства</p>
      
      <div class="carousel-wrapper">
        <div class="carousel owl-carousel owl-theme">
          {% for p in katran_products %}
            <div class="item-{{ forloop.counter }} m-2 carousel-item">
              <div class="carousel-item--img-wrapper">
                <img src="{{p.image.url}}" alt="{{ p.title }} | {{ p.category }} | купить со склада в СПБ">
                <a href="{% url 'product_detail' p.category.slug p.slug %}" class="button is-black is-small carousel-item--more-btn">Подробнее &nbsp;&nbsp;<i class="fa-solid fa-info"></i></a>
              </div>
              <p class="subtitle is-6"><a href="{% url 'category_detail' p.category.slug %}" class="no-hl-link">{{ p.category }}</a></p>
              <h2 class="title is-6"><a href="{% url 'product_detail' p.category.slug p.slug %}" class="no-hl-link">{{p}}</a></h2>
              <p class="subtitle is-6"><a class="no-hl-link" href="{% url 'brand_detail' p.brand.slug %}">{{ p.brand }}</a></p>
              <p class="title is-4">
                {% if p.price != 0 %}
                  <span class="fc-red">
                    {{ p.price|floatformat:2 }}&nbsp;<i class="fa-solid fa-ruble-sign"></i>
                  </span>
              </p>
              <p class="subtitle is-6">с НДС</p>
                {% else %}
                  <span class="fc-red">
                    По запросу
                  </span>
              </p>
                {% endif %}
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="katran--free_space"></div>
  <div class="katran--free_space"></div>
  <div class="katran--free_space"></div>

  <div class="posts">
    {% for p in posts %}
      <p class="title">{{ p.title }}</p>
      <p class="title">{{ p.category }}</p>
      
    {% endfor %}
    <a class="navbar-link" href="{% url 'blog' %}">
      Каталог
    </a>
  </div>
  
{% endblock %}
{% block scripts %}
<script type="text/javascript">
  $(document).ready(function(){
    $('.owl-carousel').owlCarousel(
      {
        items: 4,
        nav: false,
        loop: true,
        mouseDrag: true,
        touchDrag: true,
        responsiveClass:true,
        responsive:{
            0:{
                items:1,
                nav:true
            },
            480:{
                items:2,
                nav:false
            },
            700:{
                items:3,
                nav:false
            },
            1000:{
                items:5,
                nav:false,
                loop:false
            }
        },
      }
    );
  });
</script>
{% endblock %}