{% extends 'base.html' %}
{% load static %}
{% block title %}СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ{% endblock %}
{% block ogtitle %}СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ{% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block ogdescription %}{{ description }}{% endblock %}
{% block content %}

   <section class="section">
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
      <ul>
        <li class="pl-1 pt-1"><a href="/"><i class="fa-solid fa-house"></i></a></li>
        <li><a href="" class="no-hl-link">СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</a></li>
      </ul>
    </nav>
    <div class="container content">
 
    <h1>СОГЛАСИЕ НА ОБРАБОТКУ ПЕРСОНАЛЬНЫХ ДАННЫХ</h1>
    <hr>

    <div class="operator-info">
        <p><strong>Я,</strong> субъект персональных данных, в соответствии с требованиями Федерального закона от 27.07.2006 № 152-ФЗ «О персональных данных», свободно, своей волей и в своем интересе даю свое согласие на обработку моих персональных данных <strong>ООО «Катран-Пневмо»</strong> (далее - Оператор), расположенному по адресу: <strong>г. Санкт-Петербург, муниципальный округ Коломна вн.тер.г., Римского-Корсакова пр-кт, д. 73/33, стр. 2, помещ. 5-Н, офис 101</strong>.</p>
    </div>

    <h3>1. Перечень данных, на обработку которых дается согласие</h3>
    <p>Я даю согласие на обработку следующих персональных данных, которые я предоставляю при заполнении форм на сайте https://katran-pnevmo.ru/:</p>
    <ul>
        <li><strong>Фамилия, Имя, Отчество;</strong></li>
        <li><strong>Номер телефона;</strong></li>
        <li><strong>Адрес электронной почты (e-mail);</strong></li>
        <li><strong>Название компании, должность</strong> (если указаны).</li>
    </ul>

    <p>Я также даю согласие на автоматизированную обработку следующих <strong>обезличенных данных</strong> с помощью сторонних аналитических сервисов (Яндекс.Метрика), включая:</p>
    <ul>
        <li>IP-адрес;</li>
        <li>Сведения о местоположении;</li>
        <li>Тип и версия операционной системы;</li>
        <li>Тип и версия браузера;</li>
        <li>Источник перехода на сайт;</li>
        <li>Список посещенных страниц;</li>
        <li>Время нахождения на сайте.</li>
    </ul>

    <h3>2. Цели обработки персональных данных</h3>
    <p>Обработка моих персональных данных осуществляется Оператором в следующих целях:</p>
    <ol>
        <li>Обработка и выполнение моих запросов, заявок на приобретение товаров и услуг, предоставляемых Оператором (пневматическое оборудование).</li>
        <li>Установление со мной обратной связи, включая направление уведомлений, касающихся исполнения заказа.</li>
        <li>Обеспечение функционирования и повышение удобства использования сайта, а также проведение статистических и иных исследований на основе обезличенных данных.</li>
    </ol>

    <h3>3. Перечень действий с персональными данными</h3>
    <p>Я предоставляю Оператору право осуществлять следующие действия с моими персональными данными (с использованием средств автоматизации или без таковых): сбор, запись, систематизацию, накопление, хранение, уточнение (обновление, изменение), извлечение, использование, передачу (предоставление, доступ), обезличивание, блокирование, удаление и уничтожение.</p>

    <h3>4. Срок действия и порядок отзыва согласия</h3>
    <ol>
        <li>Настоящее Согласие действует с момента его предоставления и до момента достижения целей обработки или до момента его отзыва.</li>
        <li>Настоящее Согласие может быть <strong>отозвано</strong> мной в любой момент путем направления письменного уведомления Оператору или электронного письма на адрес <strong>[office@katran-pnevmo.ru]</strong>.</li>
        <li>Оператор обязан прекратить обработку моих персональных данных или обеспечить прекращение такой обработки и уничтожить персональные данные в срок, не превышающий 30 (Тридцать) дней с даты поступления указанного отзыва, если иное не предусмотрено законодательством Российской Федерации.</li>
    </ol>

    <div class="final-note">
        Подтверждаю, что, проставляя галочку (чекбокс) в форме на сайте, я ознакомлен с Политикой обработки персональных данных Оператора и согласен с условиями данного Согласия.
    </div>
    </div>
  </section>


{% endblock %}

{% block scripts %}
<script type="text/javascript">
  // Initialize all div with carousel class
  var options = {
    slidesToScroll: 1,
    slidesToShow: 3,
    loop: true
  }
  var carousels = bulmaCarousel.attach('.carousel', options);

  // Loop on each carousel initialized
  for(var i = 0; i < carousels.length; i++) {
    // Add listener to  event
    carousels[i].on('before:show', state => {
      console.log(state);
    });
  }

  var productionsapp = new Vue({
    el: '#productionsapp',
    delimiters: ['[[',']]'],
    store: store,
    data (){
        return {
            showAddToCartMessage: false
        }
    },
    mounted(){
        console.log('Mounted');
    },
    methods: {
        addToCart(product_id){
            console.log('Adding Product_id', product_id);
            var data = {
                'product_id': product_id,
                'update': false,
                'quantity': 1
            };
            fetch('/api/api_add_to_cart/',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                credentials: 'same-origin',
                body: JSON.stringify(data)
            })
            .then((response) => {
                console.log('Hello');
                this.showAddToCartMessage = true;
                store.commit('increment', 1);
                setTimeout(()=>{
                    this.showAddToCartMessage = false;
                }, 2000)
            })
            .catch(function(error){
                console.log(error);
            })
        }
    }
  });
</script>
{% endblock %}