{% extends 'base.html' %}
{% load static %}
{% block title %}Политика обработки персональных данных ООО "Катран-Пневмо" {% endblock %}
{% block ogtitle %}Политика обработки персональных данных ООО "Катран-Пневмо" {% endblock %}
{% block description %}{{ description }}{% endblock %}
{% block ogdescription %}{{ description }}{% endblock %}
{% block content %}

   <section class="section">
    <nav class="breadcrumb is-small" aria-label="breadcrumbs">
      <ul>
        <li class="pl-1 pt-1"><a href="/"><i class="fa-solid fa-house"></i></a></li>
        <li><a href="" class="no-hl-link">Политика обработки персональных данных</a></li>
      </ul>
    </nav>
    <div class="container content">
      <h1>ПОЛИТИКА ОБРАБОТКИ ПЕРСОНАЛЬНЫХ ДАННЫХ (ПДн)</h1>
      <h3>1. Общие положения</h3>
    <p>1.1. Настоящая Политика обработки персональных данных (далее - <strong>Политика</strong>) разработана и применяется в <strong>ООО «Катран-Пневмо»</strong> (далее - <strong>Оператор</strong>) в соответствии с Федеральным законом от 27.07.2006 № 152-ФЗ «О персональных данных» (далее - ФЗ-152).</p>
    <p>1.2. Целью Политики является обеспечение надлежащей защиты прав и свобод человека и гражданина при обработке его персональных данных, в том числе защиты прав на неприкосновенность частной жизни, личную и семейную тайну.</p>
    <p>1.3. Действие Политики распространяется на все процессы Оператора, связанные со сбором, записью, систематизацией, накоплением, хранением, уточнением (обновлением, изменением), извлечением, использованием, передачей (распространением, предоставлением, доступом), обезличиванием, блокированием, удалением, уничтожением ПДн, осуществляемых с использованием средств автоматизации или без таковых.</p>
    <p>1.4. <strong>Реквизиты Оператора:</strong></p>
    <ul>
        <li class="list-item"><strong>Наименование/ФИО:</strong> ООО «Катран-Пневмо»</li>
        <li class="list-item"><strong>Адрес:</strong> г. Санкт-Петербург, муниципальный округ Коломна вн.тер.г., Римского-Корсакова пр-кт, д. 73/33, стр. 2, помещ. 5-Н, офис 101</li>
        <li class="list-item"><strong>Контактный телефон:</strong> +7 (812) 331 79 09</li>
        <li class="list-item"><strong>Email для запросов по ПДн:</strong> OFFICE@KATRAN-PNEVMO.RU</li>
    </ul>
    <hr>

    <h3>2. Понятия и состав персональных данных</h3>
    <p>2.1. <strong>Персональные данные (ПДн):</strong> любая информация, относящаяся к прямо или косвенно определенному или определяемому физическому лицу (субъекту ПДн).</p>
    <p>2.2. <strong>Субъекты ПДн, данные которых обрабатывает Оператор:</strong></p>
    <ul>
        <li class="list-item">Посетители сайта https://katran-pnevmo.ru/ (пользователи).</li>
        <li class="list-item">Клиенты и контрагенты Оператора (физические лица).</li>
        <li class="list-item">Сотрудники Оператора (лица, состоящие в трудовых отношениях, чьи данные размещены на сайте).</li>
    </ul>
    <p>2.3. <strong>Перечень ПДн, обрабатываемых Оператором:</strong></p>
    <ul>
        <li class="list-item"><strong>Данные из форм:</strong> фамилия, имя, отчество, номер телефона, адрес электронной почты (email), название компании, должность.</li>
        <li class="list-item"><strong>Автоматически собираемые данные:</strong> IP-адрес, тип браузера и операционной системы, дата и время доступа к сайту, данные о поведении на сайте (просмотры страниц, клики, время на сайте) – файлы cookie, данные <strong>Яндекс.Метрики</strong>.</li>
        <li class="list-item"><strong>Служебные данные:</strong> данные, необходимые для заключения и исполнения договоров и трудового законодательства.</li>
    </ul>
    <hr>

    <h3>3. Цели и правовые основания обработки ПДн</h3>
    <p>3.1. <strong>Правовым основанием</strong> обработки ПДн является:</p>
    <ul>
        <li class="list-item">Согласие субъекта ПДн на обработку его данных (при использовании форм на сайте и аналитики).</li>
        <li class="list-item">Исполнение договора, стороной которого либо выгодоприобретателем является субъект ПДн.</li>
        <li class="list-item">Осуществление прав и законных интересов Оператора (например, в рамках трудового законодательства).</li>
    </ul>

    <p>3.2. <strong>Цели обработки ПДн:</strong></p>
    <table>
        <thead>
            <tr>
                <th>Категория ПДн</th>
                <th>Цель обработки</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Данные из форм</td>
                <td>Предоставление информации о товарах/услугах (пневматическое оборудование), обработка заявок, заключение и исполнение договоров.</td>
            </tr>
            <tr>
                <td>Автоматически собираемые данные</td>
                <td>Улучшение качества работы сайта, анализ поведения пользователей, повышение эффективности рекламных кампаний (через Яндекс.Метрику).</td>
            </tr>
            <tr>
                <td>Служебные данные</td>
                <td>Ведение бухгалтерского, налогового учета, соблюдение трудового законодательства РФ.</td>
            </tr>
        </tbody>
    </table>
    <hr>

    <h3>4. Порядок и условия обработки ПДн</h3>

    <p>4.1. <strong>Сбор и Локализация ПДн (Требования 152-ФЗ):</strong><br>
    Сбор, запись, систематизация, накопление, хранение, уточнение ПДн граждан Российской Федерации при использовании сети Интернет осуществляется Оператором <strong>исключительно на территории Российской Федерации</strong>, в соответствии с требованиями части 5 статьи 18 ФЗ-152.</p>

    <p>4.2. Трансграничная передача ПДн:<br>
    Оператор не осуществляет трансграничную передачу ПДн в иностранные государства, за исключением случаев, когда передача необходима для исполнения договора с субъектом ПДн или получения его отдельного согласия. Оператор обязуется соблюдать все требования РКН к трансграничной передаче, если она необходима.</p>

    <p>4.3. <strong>Сроки обработки и хранения:</strong><br>
    Обработка ПДн осуществляется до достижения целей обработки или до отзыва согласия субъектом ПДн. После этого ПДн подлежат уничтожению в течение 30 дней дней, если иное не предусмотрено федеральным законом (например, для бухгалтерских документов).</p>

    <p>4.4. <strong>Обеспечение безопасности ПДн:</strong><br>
    Оператор принимает необходимые правовые, организационные и технические меры для защиты ПДн от неправомерного или случайного доступа к ним, уничтожения, изменения, блокирования, копирования, предоставления, распространения ПДн, а также от иных неправомерных действий в отношении ПДн.</p>
    <hr>

    <h3>5. Сведения об используемых аналитических сервисах</h3>

    <p>Оператор использует на сайте <strong>https://katran-pnevmo.ru/</strong> сторонние сервисы для сбора обезличенных (непрямо идентифицирующих) данных на основании согласия пользователя, полученного через <strong>Cookie-баннер</strong>:</p>

    <p>5.1. <strong>Яндекс.Метрика (Yandex Metrica):</strong></p>
    <ul>
        <li class="list-item"><strong>Цель:</strong> Оценка посещаемости сайта, анализ поведения пользователей и оптимизация рекламных кампаний.</li>
        <li class="list-item"><strong>Обработка:</strong> Осуществляется в соответствии с политикой ООО «ЯНДЕКС». Собранные данные хранятся на серверах в РФ.</li>
    </ul>

    <h3>6. Права субъекта ПДн</h3>
    <p>Субъект ПДн имеет право:</p>
    <ul>
        <li class="list-item"><strong>На доступ и уточнение:</strong> Получать информацию, касающуюся обработки его ПДн, и требовать их уточнения, блокирования или уничтожения.</li>
        <li class="list-item"><strong>На отзыв согласия:</strong> Отозвать свое согласие на обработку ПДн в любой момент, направив Оператору письменное уведомление или электронное письмо на адрес <strong>[office@katran-pnevmo.ru]</strong>.</li>
        <li class="list-item"><strong>На обжалование:</strong> Обжаловать неправомерные действия или бездействие Оператора в Роскомнадзоре или в судебном порядке.</li>
    </ul>
    <hr>

    <h3>7. Заключительные положения</h3>
    <p>7.1. Настоящая Политика вступает в силу с момента ее утверждения Оператором и действует бессрочно.</p>
    <p>7.2. Оператор имеет право вносить изменения в настоящую Политику. Новая редакция Политики вступает в силу с момента ее размещения на сайте.</p>

    <p><strong>Дата утверждения:</strong> 09.10.2025</p>
    <p><strong>ООО "Катран-Пневмо"</strong></p>
    </div>
  </section>


{% endblock %}

{% block scripts %}
<script type="text/javascript">
  // Initialize all div with carousel class
  var options = {
    slidesToScroll: 1,
    slidesToShow: 3,
    loop: true
  }
  var carousels = bulmaCarousel.attach('.carousel', options);

  // Loop on each carousel initialized
  for(var i = 0; i < carousels.length; i++) {
    // Add listener to  event
    carousels[i].on('before:show', state => {
      console.log(state);
    });
  }

  var productionsapp = new Vue({
    el: '#productionsapp',
    delimiters: ['[[',']]'],
    store: store,
    data (){
        return {
            showAddToCartMessage: false
        }
    },
    mounted(){
        console.log('Mounted');
    },
    methods: {
        addToCart(product_id){
            console.log('Adding Product_id', product_id);
            var data = {
                'product_id': product_id,
                'update': false,
                'quantity': 1
            };
            fetch('/api/api_add_to_cart/',{
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                },
                credentials: 'same-origin',
                body: JSON.stringify(data)
            })
            .then((response) => {
                console.log('Hello');
                this.showAddToCartMessage = true;
                store.commit('increment', 1);
                setTimeout(()=>{
                    this.showAddToCartMessage = false;
                }, 2000)
            })
            .catch(function(error){
                console.log(error);
            })
        }
    }
  });
</script>
{% endblock %}