<div class="column is-one-quarter p-4 pl-5 ">
  <aside class="menu">
      <p class="menu-label has-text-centered-touch has-text-left-desktop">
          Категории товаров
      </p>
      <ul class="menu-list">
          {% for category in menu_categories %}
          <li>
              <a href="{% url 'category_detail' category.slug %}" class="no-hl-link">{{category.title}} <span class="smoo_after_title">({{category.product_set.count}})</span></a>
          </li>
          {% endfor %}
      </ul>
  </aside>
  <div class="katran--free_space"></div>
  <div class="is-hidden-touch">
    <p class="menu-label has-text-centered-touch has-text-left-desktop">Популярные товары</p>
    {% for p in featured_product %}
    <a href="{% url 'product_detail' p.category.slug p.slug %}">
      <div class="fav-prod-sidebar--item">
        <div class="fav-prod-sidebar--item-img">
          <img class="img-responsive" src="{{ p.image.url }}" style="max-width: 80% !important;"></img>
        </div>
        <div class="fav-prod-sidebar--item-title">{{ p.title }}</div>
        <div class="fav-prod-sidebar--item-price">
            {% if p.price != 0 %}
              {{ p.price|floatformat:2 }}<span class="price"> руб.</span>
            {% else %}
                По запросу
            {% endif %}
          </div>
      </div>
      </a>
    {% endfor %}
  </div>
</div>