<div class="column is-one-quarter p-4 pl-5 is-hidden-mobile">
  <aside class="menu">
    <p class="menu-label has-text-centered-touch has-text-left-desktop">
        Категории товаров
    </p>
    <ul class="menu-list" id="sidebarapp">
      {% for maincat in menu_main_categories %}
        <li
          @click="toggleAccMenu({{ maincat.id }})"
          class="menu-accordion-item"
          :class="{ 'active': accClass[{{ maincat.id }}] }"
        >
          <a>{{ maincat.title }}</a>
          <ul class="menu-accordion-item_inner">
            {% for cat in maincat.category_set.all|dictsortreversed:"title" %}
              {% if cat.product_set.count != 0 %}
                <li>
                  <a href="{% url 'category_detail' cat.main_category.slug cat.slug %}" class="no-hl-link">
                    {{ cat.title }} <span class="smoo_after_title">({{ cat.product_set.count }})</span>
                  </a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>

  </aside>
  <div class="katran--free_space"></div>
  <div class="is-hidden-mobile">
    <p class="menu-label has-text-centered-touch has-text-left-desktop">Популярные товары</p>
    {% for p in featured_product %}
      <div class="box product_card carousel-item--img-wrapper">
        <a href="{% url 'product_detail' p.category.main_category.slug p.category.slug p.slug %}" class="button is-black is-small carousel-item--more-btn">Подробнее &nbsp;&nbsp;<i class="fa-solid fa-info"></i></a>
        <div class="columns is-multiline">
          <div class="column is-one-third is-full-mobile is-vcentered">
            <figure class="image">
              <img src="{{ p.image.url }}" alt="Image" />
            </figure> 
          </div>
          <div class="column is-two-thirds is-full-mobile">
            <div class="content">
              <p class="has-text-left is-6 mb-6"><span class="is-6 has-text-weight-bold">
                {{ p.title }}</span>
              </p>
              <p class="subtitle has-text-left is-7"><span class="has-text-weight-bold is-6">Группа:</span> 
                {{ p.category.main_category }}</p>
              <p class="has-text-left is-7"><span class="has-text-weight-bold is-6">Категория:</span> {{ p.category }}</p>
            </div>
          </div>
          <div class="column is-full">
            <hr class="katran-line-sep">
            <p class="title has-text-left is-5 ">
              <span class="has-text-weight-bold">Цена: </span>
              <span class="fc-red">
              {% if p.price != 0 %}
                {{ p.price|floatformat:2 }}&nbsp;<i class="fa-solid fa-ruble-sign"></i>
              {% else %}
                  По запросу
              {% endif %}
              </span>
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
